@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&family=Barlow:ital,wght@0,600;1,600&family=Commissioner:wght@400;500;700;800&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&family=Manrope:wght@600;800&family=Outfit:wght@300;400;600&family=Overpass:ital,wght@0,300;0,600;1,300;1,600&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Space+Mono:ital,wght@0,400;0,700;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  gap: 3rem;
  background-image: url(../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  background-color: #0c122c;
}

.cotainer {
  margin: auto;
  padding: 1rem;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2rem;
}

/* ========================================================================== */
/*                                    FYLO                                    */
/* ========================================================================== */
.fylo {
  background: #1e2c69;
  padding: 2rem;
  padding-right: 6rem;
  border-radius: 0 100px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

/* ------------------------------- .fylo-icon ------------------------------- */
.fylo-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.fylo-icon img {
  width: 55px;
  height: 55px;
  border-radius: 8px;
  padding: 1rem;
  background: #0b122c;
  cursor: pointer;
}

.fylo-icon img:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

/* ========================================================================== */
/*                                    INFO                                    */
/* ========================================================================== */
.info {
  position: relative;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  max-width: 700px;
  padding: 2rem;
  background: #1e2c69;
  border-radius: 10px;
}

.info h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: rgba(255, 255, 255, 0.667);
  font-weight: 100;
  font-size: 1rem;
}

.info h3 strong {
  color: rgba(255, 255, 255, 0.844);
}

/* ------------------------------ .info-proress ----------------------------- */
.info-proress {
  width: 100%;
}

.info-proress .proress {
  border-radius: 100px;
  display: block;
  background: #151e46;
  width: 100%;
  height: 15px;
  position: relative;
  overflow: hidden;
}

.info-proress .proress::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  background-image: -webkit-gradient(linear, left top, right top, from(#fc9d97), to(#fd5795));
  background-image: linear-gradient(to right, #fc9d97, #fd5795);
  border-radius: 100px;
}

.info-proress .proress::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 75%;
  background: white;
}

.info-proress .value-proress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-proress .value-proress span {
  color: white;
  font-weight: 700;
  padding: 0.5rem;
  padding-bottom: 0rem;
}

/* ------------------------------- .info-left ------------------------------- */
.info-left {
  position: absolute;
  top: -30%;
  right: 7%;
  padding: 0.5rem 1rem;
  background: #fffffe;
  border-radius: 10px;
  color: #2a2f42e7;
  font-weight: 400;
}

.info-left strong {
  color: #13162e;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0.3rem;
}

.info-left::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 25px solid red;
  border-color: transparent white transparent transparent;
  right: 0%;
  bottom: -25px;
}

@media screen and (max-width: 767.98px) {
  body {
    background-image: url(../images/bg-mobile.png);
    background-size: cover;
  }
  .cotainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* ========================================================================== */
  /*                                    INFO                                    */
  /* ========================================================================== */
  .info {
    width: 100%;
    padding-bottom: 3rem;
  }
  .info h3 {
    text-align: center;
  }
  /* ------------------------------- .info-left ------------------------------- */
  .info-left {
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .info-left::before {
    border: unset;
  }
}

@media screen and (max-width: 310px) {
  .fylo-icon img {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
  }
}
/*# sourceMappingURL=main.css.map */